/node_modules/*
/.vscode/*
/password/*
/config/index.js
/config/test.js
/config/ignore.json

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.pkl

# WeChat bot specific
Crystal.memory-card.json
itchat.pkl
